#para1 {
    font-family: 'Marck Script',
        cursive;
    text-align: center;
}

#para2 {

    font-family: 'Courgette',
        cursive;
    font-style: italic;
    font-weight: bold;
    text-align: right;
}